#tabela{
    border-color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 5em;
}

th{
    background-color: rgb(221, 221, 247);
}

body {
    background-color: lavender;
    text-align: center;
}

td{
    background-color: rgb(228, 228, 247);
}

ul{
    margin-left: auto;
    margin-right: auto;
    width: 22em;
}

#habil{
    margin-left: 13.9cm;
    margin-right: auto;
    width: 12em;
}

#abacate{
    margin-left: 0.7cm;
    margin-right: auto;
    width: 4em;
}