table{
    border: 0.5;
    border-color: black;
}

th{
    background-color: rgb(221, 221, 247);
}

body {
    display: grid;
    background-color: lavender;
    position: static;
    justify-items: center;
    row-gap: 0;
}

td{
    background-color: rgb(228, 228, 247);
}
